/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
.DS_Store
entry/.DS_Store
entry/src/.DS_Store
mycer/.DS_Store
mycer/config/.DS_Store